<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmm.silentupdate">
    <!-- 链接网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 检查网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 通知权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 兼容8.0 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
</manifest>
